:root {
    --white: #FCFCFF;
    --black: #000000;
    --light-gray: #EBEBEC;
    --medium-gray: #E8E8E8;
    --dark-gray: #6F6F70;
    --light-yellow: #FFEDCC;
    --yellow: #FFCF77;
    --orange: #F57147;
    --red-orange: #F95622;
    --light-pink: #DFB7B7;

}

* {
    font-family: 'Poppins', sans-serif;
}

.without-underline {
    text-decoration: none;
}

input {
    background-color: var(--medium-gray);
    border: none;
}
